<h1>ArticleHistories</h1>
<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Author</th>
    <th>Body</th>
    <th>Created At</th>
    <th>Updated At</th>
    <th>Deleted</th>
    <th>Action</th>
  </tr>
  <%
    i = 1 
    @article_histories.each do |article_history|
  %>
  <tr>
    <td><%= i %></td>
    <td><%= article_history.title %></td>
    <td><%= article_history.author %></td>
    <td><%=
      if article_history.body.length > 40
        truncate(article_history.body, length: 40)
      else
        article_history.body
      end 
    %></td>
    <td><%= article_history.created_at %></td>
    <td><%= article_history.updated_at %></td>
    <td><%= article_history.is_deleted %></td>
    <td><%= link_to "delete", article_article_history_path(id: article_history.id),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></td>
  </tr>
  <% 
  i += 1
  end
  %>
</table>